.header-start {
  font-family: "Sacramento", cursive !important;
}

.intro {
  height: 100vh;
}

.intro-img {
  width: 20rem;
  height: 20rem;
}

@media screen and (max-width: 700px) {
  .intro-img {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 450px) {
  .intro-img {
    width: 8rem;
    height: 8rem;
  }
}

.header-start::after {
  content: "*";
  animation: startBlink 2s ease infinite;
}

@keyframes startBlink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
